<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Přihlášení – FitApp</title>
 <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body class="neco">
  <div class="container">
    <h2>Přihlášení</h2>
    <form action="{{url_for('prihlaseni')}}" method="post">
      <label>Jméno
         <input type="text" name="username" autofocus required>
      </label>
      <label>Heslo
        <input type="password" name="password" required >
      </label>
      <button class="btn" type="submit">Přihlásit</button>
    </form>
    <p class="muted">Nemáš účet? <a href="#">Registruj se</a></p>
    <p class="muted"><a href="{{url_for('index')}}">Zpět na domovskou stránku</a></p>
  </div>
</body>
</html>
